* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif', serif;
}

.header {
  width: 100%;
  border-radius: 2px;
  background-color: rgb(243, 175, 29);
  text-transform: capitalize;
}
.header img {
  width: 55px;
  margin-top: 2px;
  display: inline;
}
.header h1 {
  font-size: 2rem;
  color: white;
  display: inline;
  position: absolute;
  top: 10px;
  margin-left: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main_note {
  width: 100%;
  display: flex;
  justify-content: center;
}
form {
  margin-top: 25px;
  width: 30%;
  border-radius: 6px;
  box-shadow: 5px 5px 15px -5px #222;
}
form input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 20px;
  padding: 5px;
}
form textarea {
  width: 100%;
  border: none;
  padding: 5px;
  outline: none;
  resize: none;
}
.chn_btn {
  height: 50px;
}
.chn_btn:hover {
  background: rgb(236, 168, 20);
}
.plus_sign {
  color: rgb(236, 168, 20);
}

.set_note {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.note {
  width: 20%;
  margin: 60px 0 0 10px;
  box-shadow: 5px 5px 15px -5px black;
  overflow-wrap: break-word;
  border-radius: 10px;
}
.note h1 {
  font-size: 18px;
  padding-left: 5px;
  padding-bottom: 10px;
}
.note p {
  font-size: 15px;
  color: #333;
  padding-left: 5px;
}
.note button {
  position: relative;
  right: 0px;
  left: 80%;
  outline: none;
  border: none;
  box-shadow: 0px 2px 5px black;
  background: white;
  margin: 10px 0px 10px 2px;
  border-radius: 5px;
}
.note button:hover {
  background-color: rgb(243, 175, 29);
  color: white;
}
.deleteIcon:hover {
  background-color: rgb(243, 175, 29);
  color: white;
}
.deleteIcon {
  color: rgb(243, 175, 29);
}

.footer {
  color: #333;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
@media screen and (max-width: 786px) {
  form {
    width: 50%;
  }
  .note {
    width: 30%;
    min-height: 110px;
  }
}
@media screen and (max-width: 414px) {
  form {
    width: 80%;
  }
  .note {
    width: 60%;
    min-height: 90px;
  }
}
